<div class="image-grid">
  <div class="image-grid__item">
    {{!-- model.forEach((image) => {}) --}}
    {{#each model.data as |image|}}
      {{not image.is_album}}
      {{!-- if (not([image.is_album])) --}}
      {{#if (not image.is_album)}}
        <figure class="post">
          <div class="post__frame">
            <img src="{{ image.link }}" alt="">
          </div>
          <figcaption>
            <p>{{ image.title }}</p>
          </figcaption>
        </figure>
      {{/if}}
    {{/each}}
  </div>
</div>

{{outlet}}
